on:
  push:
    branches:
      - main

env:
  # renovate: datasource=github-releases depName=zig lookupName=ziglang/zig
  ZIG_VERSION: 0.13.0

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Zig toolchain
        uses: korandoru/setup-zig@v1
        with:
          zig-version: ${{ env.ZIG_VERSION }}
      - name: Install Cargo Lambda
        uses: jaxxstorm/action-install-gh-release@v1.13.0
        with:
          repo: cargo-lambda/cargo-lambda
          platform: linux
          arch: x86_64
      - run: cargo lambda build --arm64
      - run: cargo lambda deploy
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  integration_test:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v4
      - run: pip install awscurl
      - run: >- 
          awscurl --service lambda -X POST ${{ secrets.FUNCTION_URL }} -d '{"query": "query { users {name} }"}'
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}